:root {
  --color-black: #151618;
  --color-blue: #4E7DD9;
  --color-blue-light: #5DA9D5;
  --color-white: #FFFFFF;
  --color-bali-hai: #FFFFFF;
  --color-shuttle-gray: #5A5F69;
  --color-mystic: #DDE1EA;
  --color-gray: #B3B3B3;
  --color-governor-bay: #2E34A6;

  --font-base: 'Montserrat', Areal, sans-serif;
  --transition: all linear .2s;
}