.content p,
.p,
.content li,
.li {
	@include line-height(16, 19);
}

li, ol {
	list-style: none;
}

.content ul,
.content ol {
	list-style: none;
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: 500;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
}

.h1,
.content h1 {
	@include line-height(58, 58);
	font-weight: 600;
	@include large-mobile {
		@include line-height(28, 28);
	}
}

.h2,
.content h2 {
	@include line-height(44, 53);
	@include large-desktop {
		@include line-height(40, 50);
	}
	@include large-tablet {
		@include line-height(30, 36);
	}
	@include large-mobile {
		@include line-height(20, 24);
	}
}

.h3,
.content h3 {
	@include line-height(26, 31);
	@include large-tablet {
		@include line-height(20, 25);
	}
	@include large-mobile {
		@include line-height(16, 20);
	}
}

.h4,
.content h4 {
	font-weight: 500;
	@include line-height(20, 26);
	@include large-tablet {
		@include line-height(16, 20);
	}
	@include large-mobile {
		@include line-height(13, 17);
	}
}

.h5,
.content h5 {
}

.h6,
.content h6 {
}
