nav.header__menu.menu
    ul.menu__list.flex
        li.menu__item
            a(href="#").menu__link Главная
        li.menu__item
            a(href="#").menu__link Условия для ИТ- и ИБ-компаний
                +icon('arrow')
            ul.menu__dropdown.dropdown
                li.dropdown__item
                    a(href="#").dropdown__link Пакетные предложения
                        +icon('arrow')
                li.dropdown__item
                    a(href="#").dropdown__link Дополнительные услуги
                        +icon('arrow')
        li.menu__item
            a(href="#").menu__link Целевые параметры
                +icon('arrow')
            ul.menu__dropdown.dropdown
                li.dropdown__item
                    a(href="#").dropdown__link Пакетные предложения
                        +icon('arrow')
                li.dropdown__item
                    a(href="#").dropdown__link Дополнительные услуги
                        +icon('arrow')
        li.menu__item
            a(href="#").menu__link О нас
        li.menu__item
            a(href="#").menu__link Контакты