.socials
    .socials__item
        a(href="#").socials__link.socials__link_vk
            +icon('vk')
    .socials__item
        a(href="#").socials__link.socials__link_wh
            +icon('whatsapp')
    .socials__item
        a(href="#").socials__link.socials__link_te
            +icon('telegram')