section.company
    .container
        .company__subtitle.section-title Несколько слов о нашей компании
        h2.company__title.h2 Наша команда — это профессиональные <br> PR-специалисты ИБ- и ИТ-компаний, государственных регуляторов, журналисты-профильники ведущих федеральных и региональных СМИ, а также наши незаменимые помощники  —  корректоры, ассистенты и расшифровщики
        .company__inner.flex
            .company__cell.company__cell_left
                span.count.company__count 30%
                p.company__text Клиентов (CIO и CISO) привлекают нас для поддержки и развития собственной капитализации в медийной среде
            .company__cell.company__cell_right
                span.count.company__count 70%
                p.company__text Клиентов (средний бизнес) выбирают нас для полного аутсорсинга взаимодействия со СМИ