section.intro(data-logo-text="D-comm")
    .intro__bg
        //.intro__image
        //    img(src="/img/bg.jpeg" alt="bg").object-fit
        .intro__video
            video(preload="auto" loop autoplay="autoplay" no-controls muted playsinline="").absolute#vid
                source(type="video/mp4" src="video-bg.mp4")
            script.
                document.getElementById('vid').play()
    .container
        .intro__inner
            .intro__content.css-text-center
                h1.intro__title.h1(data-aos="zoom-in") Профессиональный коммуникационный аутсорсинг
                h3.intro__subtitle(data-aos="fade-right" data-aos-delay="300") для ИТ- и ИБ-компаний