section.intro
    .intro__bg
        //.intro__image
        //    img(src="/img/bg.jpeg" alt="bg").object-fit
        .intro__video
            video(src="video-bg.mp4" type="video/mp4" preload="auto" no-controls autoplay loop playsinline muted).absolute
    .container
        .intro__inner
            .intro__content.css-text-center
                h1.intro__title.h1 Профессиональный коммуникационный аутсорсинг
                h3.intro__subtitle для ИТ- и ИБ-компаний