section.outsourcing
    .container
        .outsourcing__top
            h2.outsourcing__title.h2 <span>Коммуникационный аутсорсинг</span> — промежуточный этап между выполнением PR-задач специалистами других направлений и небольшим отделом по связям с общественностью общей квалификации
            p.outsourcing__text.h3 Коммуникационный аутсорсинг позволяет получить быстрый результат без «болезней роста» штатной пресс-службы:
        .swiper.outsourcing__slider.js-slider
            .swiper-wrapper
                .swiper-slide
                    .outsourcing__step.step.step_1
                        span.step__count.count 01
                        <svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-decor">
                        <path d="M12.8558 3.57628e-06L0 15.3209L13.4459 30.1265L26.3017 14.8056L12.8558 3.57628e-06Z" fill="#60BCB1"/>
                        </svg>
                        h4.step__title.h4 Недозагруженность <br>
                                          | PR-сотрудников профильными задачами
                .swiper-slide
                    .outsourcing__step.step.step_2
                        span.step__count.count 02
                        <svg width="27" height="31" viewBox="0 0 27 31" xmlns="http://www.w3.org/2000/svg" class="icon-decor">
                        <path d="M12.8558 3.57628e-06L0 15.3209L13.4459 30.1265L26.3017 14.8056L12.8558 3.57628e-06Z" fill="url(#paint0_linear_105_1470)"/>
                        <defs>
                        <linearGradient id="paint0_linear_105_1470" x1="-9" y1="14.9996" x2="27.8171" y2="9.98547" gradientUnits="userSpaceOnUse">
                        <stop offset="100%" stop-color="#60BCB1"/>
                        <stop offset="1" stop-color="#69CCD7"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        h4.step__title.h4 Перегруженность штатных пиарщиков вспомогательными функциями
                .swiper-slide
                    .outsourcing__step.step.step_3
                        span.step__count.count 03
                        <svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-decor">
                        <path d="M12.8558 3.57628e-06L0 15.3209L13.4459 30.1265L26.3017 14.8056L12.8558 3.57628e-06Z" fill="url(#paint0_linear_105_1475)"/>
                        <defs>
                        <linearGradient id="paint0_linear_105_1475" x1="-9" y1="14.9996" x2="38.1259" y2="8.58151" gradientUnits="userSpaceOnUse">
                        <stop offset="100%" stop-color="#69CCD7"/>
                        <stop offset="1" stop-color="#5DA9D5"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        h4.step__title.h4 Отсутствие ИТ- и ИБ-экспертизы и связей в СМИ
                .swiper-slide
                    .outsourcing__step.step.step_4
                        span.step__count.count 04
                        <svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-decor">
                        <path d="M12.8558 3.57628e-06L0 15.3209L13.4459 30.1265L26.3017 14.8056L12.8558 3.57628e-06Z" fill="url(#paint0_linear_105_1480)"/>
                        <defs>
                        <linearGradient id="paint0_linear_105_1480" x1="-2.5" y1="14.9996" x2="31.8627" y2="10.3197" gradientUnits="userSpaceOnUse">
                        <stop offset="100%" stop-color="#5DA9D5"/>
                        <stop offset="1" stop-color="#597CD3"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        h4.step__title.h4 Ротация – средний срок работы специалиста составляет 2,5 года*
                .swiper-slide
                    .outsourcing__step.step.step_5
                        span.step__count.count 05
                        <svg width="27" height="31" viewBox="0 0 27 31" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-decor">
                        <path d="M12.8558 3.57628e-06L0 15.3209L13.4459 30.1265L26.3017 14.8056L12.8558 3.57628e-06Z" fill="url(#paint0_linear_105_1485)"/>
                        <defs>
                        <linearGradient id="paint0_linear_105_1485" x1="-6.5" y1="14.9996" x2="25.4082" y2="10.654" gradientUnits="userSpaceOnUse">
                        <stop offset="100%" stop-color="#597CD3"/>
                        <stop offset="1" stop-color="#2F34A0"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        h4.step__title.h4 Переплата за профильные задачи
        .info.outsourcing__info
            span.info__subject *Исследование было проведено по заказу портала SuperJob в сентябре 2020 года.
            ul.info__items
                li.info__item <span>Место проведения исследования:</span> Россия, все округа
                li.info__item <span>Исследуемая совокупность:</span> экономически активное <br> население России в возрасте 30-35 лет.
                li.info__item.info__item_width <span>Размер выборки:</span> 25000 резюме – по 500 резюме представителей 50 профессиональных групп, имеющих общий стаж работы по профессии не менее 6 лет и желающих работать по профессии в дальнейшем.
