section.subscription
    .container
        .subscription__subtitle.section-title(data-aos="fade-right") Коммуникационный аутсорсинг по подписке
        .subscription__inner.flex.flex_justify.flex_start
            .subscription__cell.subscription__cell_left
                h2.subscription__title.h2(data-aos="zoom-in") Мы предлагаем медийное продвижение компаниям среднего бизнеса в сфере:
                ul.subscription__items
                    li.subscription__item.h3(data-aos="zoom-in" data-aos-delay="300") информационной безопасности
                    li.subscription__item.h3(data-aos="zoom-in" data-aos-delay="400") информационных технологий
                    li.subscription__item.h3(data-aos="zoom-in" data-aos-delay="500") а также <br> CIO и CISO
            .subscription__cell.subscription__cell_right
                .subscription__info
                    +icon('decor')
                    h4.subscription__subtitle.h4 Ничего лишнего: <br> только результат
                .subscription__info
                    +icon('decor')
                    h4.subscription__subtitle.h4 Прозрачно, как своя пресс-служба, эффективно, как агентство