extends ../layouts/base

append vars
	- title = 'Главная страница';

block content
	.quadrangle-decor
		img(src="./app/img/quadrangle.svg" alt="quadrangle").quadrangle-decor__image
	include ../sections/intro
	include ../sections/subscription
	include ../sections/outsourcing
	include ../sections/company
	include ../sections/feedback