.btn {
  font-size: 1.6rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  min-width: 26rem;
  padding: 1rem 2rem;
  transition: var(--transition);
  overflow: hidden;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  min-height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &__back {
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
    right: -0.3rem;
    bottom: -0.3rem;
    border-radius: inherit;
    overflow: hidden;
    display: block;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  }
  &:hover {
  }
  &__text {
    position: relative;
    z-index: 4;
  }

  &_medium {
    min-height: 6rem;
    font-size: 1.8rem;
    min-width: 32rem;
  }

  &_light-blue {
    background-color: var(--color-blue-light);
    .b-circle {
      background-color: var(--color-white);
      border-color: var(--color-white);
    }
    @include min-large-mobile {
      &:hover {
        color: var(--color-blue-light);
      }
    }
  }

  @include large-mobile {
    font-size: 1.4rem;
    min-width: 17rem;
    min-height: 4rem;
    padding: 1.4rem 2rem;
    display: flex;
    &_small {
      min-height: 4.5rem;
    }
  }
}

.btn-white {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40.5rem;
  padding: 1.4rem 3rem;
  color: var(--color-blue-light);
  background-color: var(--color-white);
  font-weight: 500;
  &_small {
    min-width: 33.5rem;
    font-size: 1.6rem;
  }
  @include large-mobile {
    min-width: 23rem;
    padding: .7rem 1rem;
    font-size: 1.2rem;
  }
}