.btn {
  font-size: 1.6rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  min-width: 26rem;
  padding: 1rem 2rem;
  transition: var(--transition);
  overflow: hidden;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  min-height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &__back {
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
    right: -0.3rem;
    bottom: -0.3rem;
    border-radius: inherit;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  }
  &:hover {
  }
  &__text {
    position: relative;
    z-index: 4;
  }

  @include large-mobile {
    font-size: 1.4rem;
    min-width: 17rem;
    min-height: 4rem;
    padding: 1.4rem 2rem;
    display: flex;
  }
}
