.dropdown {
  position: absolute;
  min-width: 35.5rem;
  padding: 2.5rem 3rem;
  background-color: var(--color-mystic);
  border: 1px solid var(--color-blue);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  @include large-tablet {
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 1rem 0 0 0;
    border: none;
    display: none;
    transition: none;
  }
  @include min-large-tablet {
    display: block !important;
  }
  &__item {
    @include large-tablet {
      margin-left: 1.5rem;
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      @include large-tablet {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      transform: rotate(-90deg);
      @include large-tablet {
        display: none;
      }
    }
    &:hover {
      color: var(--color-governor-bay);
      font-weight: 500;
    }
  }
}