.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include large-tablet {
    &[data-mobile-text] {
      &::before {
        content: attr(data-mobile-text);
        display: block;
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: .8rem;
      }
    }

  }
  &__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: .8rem;
      @include large-tablet {
        margin-right: 1.5rem;
      }
    }
    @include large-tablet {
      width: 4rem;
      height: 4rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-gray);
    height: 100%;
    padding: .7rem;
    transition: var(--transition);
    @include large-tablet {
      padding: .9rem;
    }
    & > * {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }
    &_vk {
      &:hover {
        background-color: #4680C2;
      }
    }
    &_whatsapp {
      &:hover {
        background-color: #25D366;
      }
    }
    &_telegram {
      &:hover {
        background-color: #0088CC;
      }
    }
  }
}