.step {
  &__count {
    margin-bottom: 2.4rem;
  }
  &__title {
    max-width: 33.8rem;
    margin-top: 1.5rem;
    @include large-tablet {
      max-width: 20rem;
    }
    @include large-mobile {
      max-width: 15rem;
    }
  }
  .icon-decor {
    width: 2.7rem;
    height: 3.1rem;
  }
  &_1 {
    .step {
      &__count {
        color: #60BCB1;
      }
    }
    .icon-decor {
      fill: #60BCB1;
    }
  }
  &_2 {
    .step {
      &__count {
        background: linear-gradient(90deg, #60BCB1 -5.55%, #69CCD7 99.78%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .icon-decorOne {
      cursor: pointer;
      shape-rendering: crispEdges;
      fill: url(#paint0_linear_105_1470);
    }
  }
  &_3 {
    .step {
      &__count {
        background: linear-gradient(90deg, #69CCD7 -10%, #5DA9D5 115.6%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &_4 {
    .step {
      &__count {
        background: linear-gradient(90deg, #5DA9D5 -11.76%, #597CD3 113.24%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &_5 {
    .step {
      &__count {
        background: linear-gradient(90deg, #597CD3 -10.71%, #2F34A0 88.49%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}