.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-mystic);
  transition: var(--transition);
  @include large-tablet {
    border-bottom: 1px solid var(--color-blue);
  }
  &.is-sticky {
    border-bottom: 1px solid var(--color-blue);
    .header {
      &__inner {
        padding: 1.5rem 2rem;
      }
    }
    .menu__dropdown {
      top: calc(100% + 2.7rem);
      &::before {
        height: 2.7rem;
        top: -2.7rem;
      }
    }
  }
  &__inner {
    padding: 2.7rem 0;
    transition: var(--transition);
    @include large-tablet {
      margin: 0 -2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include large-mobile {
      padding: 1rem 2rem;
    }
  }
  &__btn {
    @include large-desktop {
      min-width: 2.4rem;
    }
    @include large-tablet {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  &__nav {
    flex: 1 1 auto;
    @include large-tablet {
      position: absolute;
      top: calc(100% + 1px);
      background-color: var(--color-mystic);
      width: 100%;
      left: 0;
      padding: 1.5rem 2rem 2rem;
      flex-direction: column-reverse;
      align-items: flex-start;
      opacity: 0;
      visibility: hidden;
      transition: all linear .2s;
      border-top: 1px solid var(--color-blue);
      flex-wrap: nowrap;
      &.is-open {
        opacity: 1;
        visibility: visible;
      }
    }
    @include large-mobile {
      height: calc(100vh - 5.6rem);
      top: 100%;
      overflow-y: auto;
    }
  }
  &__menu {
    @include large-tablet {
      width: 100%;
    }
    @include large-mobile {
      margin-bottom: auto;
    }
  }
  &__logo {
    margin-right: 5rem;
    @include large-desktop {
      margin-right: 2rem;
    }
  }

  &__socials {
    @include large-tablet {
      order: -1;
      margin-top: 4rem;
    }
  }
}