.subscription {
  padding-bottom: 2.5rem;
  &__cell {
    &_left {
      width: 990 / 1540 * 100%;
      margin-right: 1rem;
    }
    &_right {
      width: 485 / 1540 * 100%;
      background-color: var(--color-blue);
      color: var(--color-white);
      @include large-mobile {
        margin-top: 2rem;
      }
    }
    @include large-mobile {
      width: 100%;
    }
  }
  &__inner {
    @include large-mobile {
      display: block;
    }
  }
  &__info {
    display: flex;
    align-items: flex-start;
    padding: 3rem 2.5rem;
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-white);
    }
    @include large-tablet {
      padding: 2rem 1.5rem
    }
    @include large-mobile {
      padding: 2rem 2.5rem 2rem 1.5rem;
    }
    .icon {
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      margin-right: 1.5rem;
      margin-top: .3rem;
      fill: currentColor;
      @include large-mobile {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
  &__title {
    margin-bottom: 6rem;
    @include large-tablet {
      margin-bottom: 4rem;
    }
    @include large-mobile {
      margin-bottom: 2rem;
    }
  }
  &__items {
    display: flex;
    @include large-mobile {
      display: block;
    }
  }
  &__item {
    padding-left: 5.3rem;
    position: relative;
    flex: 1 1 auto;
    max-width: 39rem;
    @include line-height(26, 31);
    @include large-desktop {
      max-width: 33rem;
    }
    @include large-tablet {
      padding-left: 3rem;
      max-width: 23rem;
      @include line-height(20, 25);
    }
    @include large-mobile {
      max-width: 100%;
      @include line-height(16, 20);
      br {
        display: none;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 3.4rem;
      left: 0;
      top: 1.3rem;
      background-color: var(--color-blue-light);
      height: 1px;
      @include large-tablet {
        width: 2rem;
        height: 2px;
      }
      @include large-mobile {
        top: 1rem;
      }
    }
  }
}